#!jinja2
{% set TASK_RUN = 'rose task-run --verbose' %}
{% from "cylc" import LOG %}

{# Set up default configurations for each utility #}
{% set um2lfric_configs   = {} %}
{% set lfric2um_configs   = {} %}
{% set scintelapi_configs = {} %}
{% include "configs/configs_um2lfric.rc" %}
{% include "configs/configs_lfric2um.rc" %}
{% include "configs/configs_scintelapi.rc" %}

{# Set up variables needed in various suite configuration files #}
{% set KGO_DIRS = {} %}
{% include "variables.rc" %}

{# Set kgo base directory #}
{% set kgo_dir_base = "$UMDIR/standard_jobs/lfricinputs/kgo" %}

{# Set up suite groups #}
{% set SUITE_GROUPS = {} %}
{% include "groups.rc" %}

{# Now populate the list of actual task names selected for this run  #}
{% set selected_tasks = [] %}
{# Loop through the names provided by the user via --group/--task  #}
{% for name in RUN_NAMES %}
  {# This stack variable keeps running track of any nested names  #}
  {% set namestack = [name] %}
  {% for stackname in namestack recursive %}
    {# Add the contents of any matched key from the groups to the loop  #}
    {% if stackname in SUITE_GROUPS %}
      {{ loop(SUITE_GROUPS[stackname]) }}
    {% elif stackname not in selected_tasks %}
      {# Otherwise add the name to the list of tasks  #}
      {% do selected_tasks.append(stackname) %}
    {% endif %}
  {% endfor %}
{% endfor %}

[cylc]
    UTC mode = True
    abort if any task fails = {{ ABORT_ON_FAIL | default("False") }}
    # Timeout handlers
    [[events]]
        timeout = {{ SUITE_TIMEOUT }}

[scheduling]
    [[dependencies]]
{# Include graph #}
{% set include_mode = "graph" %}
        graph = """
{% for task in selected_tasks %}

  {% set task_def = task.split('-') %}
  {% set util     = task_def[0] %}
  {% set build    = task_def[1] %}
  {% set config   = task_def[2] %}

  {% if util == "um2lfric" %}
    {% include "templates/template_um2lfric.rc" %}
  {% endif %}
  {% if util == "lfric2um" %}
    {% include "templates/template_lfric2um.rc" %}
  {% endif %}
  {% if util == "scintelapi" %}
    {% include "templates/template_scintelapi.rc" %}
  {% endif %}
  {% if util == "integration" %}
    {% if config == "um2um" %}
      {% include "templates/template_integration_um2um.rc" %}
    {% endif %}
    {% if config == "lfric2lfric" %}
      {% include "templates/template_integration_lfric2lfric.rc" %}
    {% endif %}
  {% endif %}

{% endfor %}
                """
[runtime]
    [[root]]
        init-script = """
                      export CYLC_VERSION={{CYLC_VERSION}}
                      export ROSE_VERSION={{ROSE_VERSION}}
                      export FCM_VERSION={{FCM_VERSION}}
                      """
        script = "{{TASK_RUN}}"
        [[[events]]]
{%- if TROUBLE_MAIL_ADDRESS is defined %}
            mail to = {{TROUBLE_MAIL_ADDRESS}}
            mail events = submission timeout, submission failed, timeout, failed, execution timeout
{%- endif %}
            submission timeout = {{ SUITE_TIMEOUT }}

        [[[environment]]]
            ROSE_ORIG_HOST = {{ROSE_ORIG_HOST}}
{% if SITE=='nci' %}
            HOST_SOURCE_LFRIC_BASE = {{SOURCE_LFRIC_BASE}}
{% else %}
            HOST_SOURCE_LFRIC_BASE = {{HOST_SOURCE_LFRIC_BASE}}
{% endif %}
            HOST_SOURCE_SHUMLIB_BASE = {{HOST_SOURCE_SHUMLIB_BASE}}
            SOURCE_LFRIC_REV = {{SOURCE_LFRIC_REV}}
            SOURCE_SHUMLIB_REV = {{SOURCE_SHUMLIB_REV}}
{% if SITE=='nci' %}
            HOST_SOURCE_LFRIC = {{SOURCE_LFRIC}}{{SOURCE_LFRIC_REV}}
{% else %}
            HOST_SOURCE_LFRIC = {{HOST_SOURCE_LFRIC_BASE}}{{SOURCE_LFRIC_REV}}
{% endif %}
            HOST_SOURCE_SHUMLIB = {{HOST_SOURCE_SHUMLIB_BASE}}{{SOURCE_SHUMLIB_REV}}
        [[[job]]]
            execution time limit = PT5M


{# Include common runtime families #}
{% include "family-common.rc" %}

{# Define weight generation runtime tasks #}
{% include "templates/template_weightgen.rc" %}

{# Define build, util and rose-ana runtime tasks #}
{% set include_mode = "runtime" %}
{% for task in selected_tasks %}

  {% set task_def = task.split('-') %}
  {% set util     = task_def[0] %}
  {% set build    = task_def[1] %}
  {% set config   = task_def[2] %}

  {% set build_def = build.split('_') %}
  {% set platform = build_def[0] %}
  {% set fcmp = build_def[1] %}
  {% set ccmp = build_def[2] %}
  {% set level = build_def[3] %}

  {% set ns = namespace(bf = ' ', pf = ' ', nt = ' ', qf = ' ', raf = ' ') %}
  {% if platform == 'spice' %}
    {% set ns.bf = 'meto-x86-' + fcmp + '-' + ccmp %}
    {% set ns.pf = 'LINUX' %}
    {% set ns.nt = '12' %}
    {% set ns.qf = 'METO_LINUX_NORMAL_QUEUE' %}
    {% set ns.raf = 'rose_ana_x86' %}
  {% endif %}
  {% if platform == 'xc40' %}
    {% set ns.bf = 'meto-xc40-' + fcmp + '-' + ccmp %}
    {% set ns.pf = 'XC40' %}
    {% set ns.nt = '36' %}
    {% set ns.qf = 'METO_XC40_NORMAL_QUEUE' %}
    {% set ns.raf = 'rose_ana_xc40' %}
  {% endif %}
  {% if platform == 'gadi' %}
    {% set ns.bf = 'nci-gadi-' + fcmp + '-' + ccmp %}
    {% set ns.pf = 'GADI' %}
    {% set ns.nt = '24' %}
    {% set ns.qf = 'NCI_GADI_NORMAL_QUEUE' %}
    {% set ns.raf = 'rose_ana_nci-gadi' %}
  {% endif %}
  {% set build_family = ns.bf %}
  {% set platform_fam = ns.pf %}
  {% set num_tasks = ns.nt %}
  {% set queue_fam = ns.qf %}
  {% set rose_ana_family = ns.raf %}

  {% if util == "um2lfric" %}
    {% include "templates/template_um2lfric.rc" %}
  {% endif %}

  {% if util == "lfric2um" %}
    {% include "templates/template_lfric2um.rc" %}
  {% endif %}

  {% if util == "scintelapi" %}
    {% include "templates/template_scintelapi.rc" %}
  {% endif %}

  {% if util == "integration" %}
    {% if config == "um2um" %}
      {% include "templates/template_integration_um2um.rc" %}
    {% endif %}
    {% if config == "lfric2lfric" %}
      {% include "templates/template_integration_lfric2lfric.rc" %}
    {% endif %}
  {% endif %}

{% endfor %}
