{# COMPARE KGO MACRO #}
{#---------------------------------------------------------------------------#}
{%- macro compare_restart_kgos_graph() %}
    [[[R1]]]
    export_source => compare_restart_kgos
{%- endmacro %}

{# CHECK INITIAL OUTPUT MACRO #}
{#---------------------------------------------------------------------------#}
{%- macro check_initial_output_graph() %}
{%-   if 'check_initial_output' in RUN_TECHNICAL %}

    [[[R1]]]
    PUBLISH:succeed-all => check_initial_output
{%-   endif %}
{%- endmacro %}

{# CHECK OUTPUT FORMAT MACRO #}
{#---------------------------------------------------------------------------#}
{%- macro check_output_format_graph() %}
    [[[R1]]]
    PUBLISH:succeed-all => check_output_format
{%- endmacro %}
